#banner{
    width: 103%; 
    margin-left: -2.1%;
}

#perfil{
    margin-top: -10em;
    width: 50%;
    margin-left: 0em;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    
}
 
#fotoPerfil{
    max-width: 50%;
}

#textoPerfil{
    text-align: center;
    padding-bottom: 5%;
}

#textoPerfil h3{
    font-size: 3vw;
    height: 5vh;
}

#textoPerfil p{
    font-size: 2vw;
    height:2vh;
}

#triggerPerfil{
    max-width:fit-content;
    margin: 0.5vw;
    display: block;
    flex: 1 1 150px;
}

.triggers{
    max-width: fit-content;
    margin-left: 50%;
    margin-top: 26%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (max-width: 800px){
    
    #banner{
        width: 105%; 
        margin-left: -3.5%;
    }

    #perfil{
        margin-top: -6em;
    }
}

@media only screen and (max-width: 600px){
    #banner{
        width: 107%; 
        margin-left: -5%;
    }

    #fotoPerfil{
        max-width: 80%;
    }

    #textoPerfil h3{
        font-size: 3vw;
        height: 3vh;
    }
}

@media only screen and (max-width: 490px){
    #banner{
        width: 108%; 
        margin-left: -5.9%;
    }

    #perfil{
        margin-top: -5em;
    }
     
    #fotoPerfil{
        max-width: 80%;
    }
    
    #textoPerfil{
        text-align: center;
        padding-bottom: 7%;
    }
    
    #textoPerfil h3{
        font-size: 4vw;
        height: 3vh;
        
    }
    
    #textoPerfil p{
        font-size: 3vw;
        height:1vh;
    }

    #triggerPerfil{
        max-width:fit-content;
        margin: 0.5vw;
        display: block;
        flex: 1 1 150px;
        font-size:x-small ;
    }
}